body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.resume-container{
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
}
.blue-container{
    background-color: #154c79;
    color: white;
    width: 800px;
    height: 100vh auto;
    margin-right: 100px;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
header{
    text-align: left;
    margin-bottom: 20px;
    margin-top: 150px;
    white-space: nowrap;
}
h1{
    color: #154c79;
    padding-right: 100px;
}
h2{
    color: #76b5c5
}
h3{
    color: white;
    margin-bottom: 30px;
    margin-left: 70px;
}
.text-blue{
    margin-left: 10px;
    margin-bottom: 10px;
}
.picture {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 130px;
    margin-left: 70px;
    margin-right: 20px;
}
.space{
    margin-left: 60px;
    padding-right: 20px;
}
.blue-item {
    display: flex;
    align-items: left;
    padding-right: 5px;
}